.row
  .col-md-8.col-md-offset-2.col-lg-8.col-lg-offset-2
    %h1.text-center
      The most active commenters this week
    %table.table.table-striped
      %thead
        %tr
          %td.lead
            User
          %td.lead
            Comments this week
      %tbody
        - @most_active_commenters.each_with_index do |commenter, i|
          %tr
            %td
              = commenter.name
            %td
              = commenter.comments_count